src/main/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
    
  <xs:complexType name="car">
        
    <xs:sequence>
            
      <xs:element minOccurs="0" name="brand" type="xs:string"/>
            
      <xs:element name="price" type="xs:int"/>
          
    </xs:sequence>
      
  </xs:complexType>
    
  <xs:complexType name="person">
        
    <xs:sequence>
            
      <xs:element name="age" type="xs:int"/>
            
      <xs:element minOccurs="0" name="name" type="xs:string"/>
          
    </xs:sequence>
      
  </xs:complexType>
  
</xs:schema>
